body {
    font-family: -apple-system, BlinkMacSystemFont,
                 "Segoe UI", Roboto, Helvetica, Arial,
                 "Noto Sans", "Liberation Sans", sans-serif;
    font-size: 1.2rem;
    line-height: 1.6;
    color: #202122;
    background: #ffffff;
  }
  

/* Photo */
.photo-flip {
    perspective: 1000px;
    display: inline-block;
}

.profile-photo {
    width: 20rem;
    border-radius: 10px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.profile-photo.flipped {
    transform: rotateY(180deg);
}

.photo-container {
    object-fit: cover;
    float: right;
    margin: 1rem;
    text-align: left;
    font-style: italic;
}

.name {
    margin: 0;
    font-size: 3rem;
}

.subtitle {
    margin: 0;
    font-size: 1.5rem;
    color: #555;
}

main {
    max-width: 900px;
    margin: 4rem auto;
    padding: 0 1rem;
}

section {
    margin-bottom: 2.5rem;
}

h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.3rem;
}